@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app{
  font-family: "Poppins", sans-serif;
}

.title{
  box-shadow: 0 2px 3px black;
  width: 40%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

button img{
  width: 25px;
  cursor: pointer;
  background-color: antiquewhite;
}
button{
   border: none; 
 padding: 0px;


}

h2{
  display: flex;
  justify-content: center;
}

.emplist{
  font-family: arial;
  width: 70%;
  margin: auto;
  
}

.emplist td,th{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: left;
  padding: 8px;
}

.emplist tr{
  background-color: antiquewhite;
}

.btn{
  padding: 8px;height: 30px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 3px grey;
  margin-top: 15px;
  
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center; 
  margin-top: 30px;
}

form input{
  padding: 5px;
  width: 300px;
  height: 30px;
  border: none;
  box-shadow: 0 3px 3px grey;
  border-radius: 5px;
  font-size: 20px;
}